flask
flask_session
flask_cors
flask_sitemapper
Flask-Limiter
gevent-websocket
sightengine
gevent
requests
python-dotenv
mixpanel
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability