* {box-sizing: border-box;}
body {
  display: grid;
  grid-template-columns: auto 0px; 
}

:root[data-applied-mode="light"] {
  color-scheme: light;
  --text: black;
  --color: black;
  --background: white;
}
:root[data-applied-mode="dark"] {
  color-scheme: dark;
  --text: white;
  --color: white;
  --background: black;
}

.iconify {
  color: var(--color, white)
}

.top {
  --offset: 50px; 
  
  position: sticky;
  bottom: 20px;      
  margin-right:10px; 
  place-self: end;
  
  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  border-radius: 100px;
  white-space: nowrap;
  float: right;
}

.top:hover, .top a:hover {
  color: #444;
}

/* remove the below if you don't want smooth scrolling */
html,
body {
	scroll-behavior: smooth;
}


html {
  font-size: 62.5%; 
}

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea, 
input[type="text"],
input[type="password"] {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="text"]:focus, textarea:focus {
  border: 1px solid #33C3F0;
  outline: 0; 
}

button, input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem; 
  margin-top: 1rem;
}

button:hover, button:focus {
  border-color: #888;
  outline: 0; 
}

.button-primary {
  background-color: #33C3F0;
  border-color: #33C3F0; 
}

.button-primary:focus {
  background-color: #1EAEDB;
  border-color: #1EAEDB; 
}

.six.columns { 
  width: 48%;            
}

.offset-by-three.columns { 
  margin-left: 26%;            
}

.u-full-width {
  width: 100%;
  box-sizing: border-box; 
}

#memePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: none;
  min-width: 100%;
  width: 100%;
  background-color: var(--background);
}

#memeBackgrounds * {
  display: inline-block;
}

#memeBackgrounds {
  overflow: scroll;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-form {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form input {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.search-form button svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

::placeholder {
  color: #808080;
  opacity: 0.7; 
}

/* @media (min-width: 480.05px) and (max-width: 768px) */

.left-menu {
  display: grid;
  position: relative;
  grid-area: 3 / 2 / 27 / 4;
  /* grid-template-columns: 0 0 1.54052141rem 0 0 4.08173335rem 0 0 0.62681597rem 1.98253757rem 3.0023636rem 5.30245115rem; */
  /* grid-template-rows: 0 0 minmax(8.2316083rem, max-content) minmax(2.26538213rem, max-content) minmax(1.20122376rem, max-content) minmax(2.88050959rem, max-content) minmax(1.34945669rem, max-content) minmax(4.08173335rem, max-content) minmax(1.31771596rem, max-content) minmax(2.91225031rem, max-content) minmax(1.33141022rem, max-content) minmax(30.65125727rem, max-content); */
  grid-area: 4 / 2 / 29 / 4;
}

.search {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

.txt-centered {
    text-align: center;
}

.flit-content-input.flit-content-input, .flit-content-input.flit-content-input:focus {
  border-radius: 0%;
  border-width: 0px;
  border: none;
  border-style: none; 
  outline:none;
  font-size: x-large;
  height: 10em;
  width: 100%;
  resize: none;
  
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

#character-counter {
  position: absolute;
  right: 5px;
  top: 0;
}

.flit-input-box {
  position: relative;
}

.logo img {
	height: 60px;
}

/* .logout form, .login form, .signup form {
  display: flex;
  align-items: center;
} */

.logout button,  .login button, .signup button {
	background-color: transparent;
	border: none;
	font-size: 16px;
}

.centered-form {
  margin: auto;
  width: 400px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.centered-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1da1f2;
}

.centered-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.centered-form input[type="text"],
.centered-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

.centered-form input[type="submit"] {
  background-color: #1da1f2;
  border: none;
  border-radius: 4px;
  /* padding: 10px 20px 10px 20px; */
  font-size: 16px;
  cursor: pointer;
}

.centered-form input[type="submit"]:hover {
  background-color: #0c8bd6;
}

.flit {
  padding: 20px;
  padding-bottom: 5px;
  margin-bottom: -1px;
  border-style: solid;
  border-color: #555;
  border-width: 1px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.flit-username a, .flit-content a {
  text-decoration: none;
  overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flit-username a:hover, .flit-content a:hover {
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-handle, .user-handle:hover {
  color: #555;
  font-weight: normal;
}

.flit-username {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-decoration: none;
}

.flit-content {
  font-size: 16px;
  color: #555;
  text-decoration: none;
  word-wrap: break-word;
  word-break: break-all;
 }
 
 

.flit-timestamp {
  font-size: 14px;
  color: #888;
}
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  /* padding: 16px 20px; */
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.memeBg {
  padding: 0px;
  padding-left: 20px;
  transition: transform 250ms;
  border: none;
}

.memeBg:hover {
  transform: translateY(-10px);
  border: #000;
  border: 1px;
}

.search-form button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.search-form button svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#memeImages {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}

#memeImages > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#memeImages img {
  max-width: 100px;
  width: 9%;
}

.retweet-button {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #657786;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.retweet-button:hover {
  color: #1DA1F2;
}

.retweet-button span {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.retweet-form {
  margin-bottom: 0;
}

.flit_form {
  width: 75%;
  margin: auto;
}

.menu{
  width:10%;
  border-right: 1px solid #555;
  min-width: 60px;
  background-color: var(--background, black);
}

.dm_with_person {
  padding-left: 5px !important;
  color: white;
  margin-bottom: 0rem !important;
  margin-top:0rem !important;
}

/* This is the media query for smaller screens */
@media screen and (max-width: 1000px) {
  /* This will override the default style when the screen width is less than or equal to 600px */
  menu {
    width: calc(100% - 67px) !important; /* This will make the div element take up the full width of the screen */
    min-width: auto !important; /* This will remove the minimum width constraint */
    float: none !important; /* This will make the div element stop floating */
    margin-left: 60px !important;
  }

  main {
    width: calc(100% - 67px) !important; /* This will make the main element take up the full width of the screen */
    float: none !important; /* This will make the main element stop floating */
    margin-left: 60px !important;
  }

  .centered-form {
    width: 300px !important;
  }
}

main {
  margin-left: 10%;
}

/* Define a keyframes animation named fade-out */
@keyframes fade-out {
  /* Set the opacity of the element to 1 at the start */
  from {
    opacity: 1;
  }
  /* Set the opacity of the element to 0 at the end */
  to {
    opacity: 0;
  }
}

#error {
  /* Add your other styles here */
  position: fixed; /* Make the element fixed */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Position it at the left of the viewport */
  width: 100%; /* Make it span the entire width */
  height: 100%; /* Make it span the entire height */
  z-index: 9999; /* Make it on top of everything else */
}

#error p, #error h1 {
  all:initial;
}

#error h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#error p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Apply the fade-out animation to the error element when it has the class of fade-out */
#error.fade-out {
  /* Set the animation name, duration, and timing function */
  animation: fade-out 2s ease-in-out;
  /* Set the animation fill mode to forwards to keep the final state */
  animation-fill-mode: forwards;
}


/* Leaderboard styles */
.rankNumber {
  margin-left: 20px;
}

.leaderboardHandle {
  text-align: center;
}

.leaderboardScore {
  float: right;
  margin-right: 20px;
}

.leaderboard {
  width: 100%;
}

/* ReFlit Styles */
.originalFlit {
  border-radius: 10px;
}