* {box-sizing: border-box;}
body {
  display: grid;
  grid-template-columns: auto; 
  word-wrap: break-word;
  word-break: break-word;
}

:root[data-applied-mode="light"] {
  color-scheme: light;
  --text: black;
  --color: black;
  --background: white;
  --background2: white;
}
:root[data-applied-mode="dark"] {
  color-scheme: dark;
  --text: white;
  --color: white;
  --background: black;
  --background2: #1C1B22;
}

.iconify {
  color: var(--color, white)
}

.top {
  --offset: 50px;
  position: sticky;
  bottom: 20px;
  margin-right:10px;
  place-self: end;
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  border-radius: 100px;
  white-space: nowrap;
  float: right;
}

.top:hover, .top a:hover {
  color: #444;
}

html,
body {
	scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea,
input[type="text"],
input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="text"]:focus, textarea:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

button:has(svg) {
  height: 25px;
  width: 25px;
}

button, input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover, button:focus {
  border-color: #888;
  outline: 0;
}

.button-primary {
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.button-primary:focus {
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

.six.columns {
  width: 48%;
}

.offset-by-three.columns {
  margin-left: 26%;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

#memePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: none;
  min-width: 100%;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  border-width: 0px;
}

#memeBackgrounds * {
  display: inline-block;
}

#memeBackgrounds {
  overflow: scroll;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-form {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form input {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.search-form button svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

::placeholder {
  color: #808080;
  opacity: 0.7;
}

.left-menu {
  display: grid;
  position: relative;
  grid-area: 4 / 2 / 29 / 4;
}

.search {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

.txt-centered {
  text-align: center;
}

.flit-content-input.flit-content-input,
.flit-content-input.flit-content-input:focus {
  border-radius: 0%;
  border-width: 0px;
  border: none;
  border-style: none;
  outline: none;
  font-size: x-large;
  height: 10em;
  width: 100%;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#character-counter {
  position: absolute;
  right: 5px;
  top: 0;
}

.flit-input-box {
  position: relative;
}

.logo img {
  height: 60px;
}

.logout button, .login button, .signup button {
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.centered-form {
  margin: auto;
  width: 400px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.centered-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1da1f2;
}

.centered-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.centered-form input[type="text"],
.centered-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

.centered-form input[type="submit"] {
  background-color: #1da1f2;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

centered-form input[type="submit"]:hover {
  background-color: #0c8bd6;
}

.flit {
  padding: 20px;
  margin-bottom: -1px;
  border-style: solid;
  border-color: #555;
  border-width: 1px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.flit-username a, a.flit-content {
  text-decoration: none;
  overflow: ellipsis;
}

a:hover.flit-username, a:hover.flit-content {
  text-decoration: underline;
  overflow: hidden;
}

.user-handle, .user-handle:hover {
  color: #555;
  font-weight: normal;
}

.flit-username {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-decoration: none;
  word-wrap: break-word;
  word-break: break-word;
}

.flit-content {
  color: #555;
  text-decoration: none;
  word-break: break-word;
}

.flit-timestamp {
  font-size: 14px;
  color: #888;
}

button.open-button {
  background-color: #555;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #222;
}

.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
button.open-button:hover {
  opacity: 1;
}

.memeBg {
  padding: 0;
  padding-left: 20px;
  transition: transform 250ms;
  border: none;
}

.memeBg:hover {
  transform: translateY(-10px);
  border: 1px solid #000;
}

.search-form button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.search-form button svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

#memeImages {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}

#memeImages > img, #memeImages > video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#memeImages img, #memeImages video {
  max-width: 100px;
  width: 9%;
}

.retweet-button {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #657786;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.retweet-button:hover {
  color: #1DA1F2;
}

.retweet-button svg {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.retweet-form {
  margin-bottom: 0;
}

.flit_form {
  width: 75%;
  margin: auto;
}

.menu {
  width: 10%;
  border-right: 1px solid #555;
  min-width: 60px;
  background-color: var(--background, black);
}

#dm_list {
  overflow-y: scroll;
}

.dm_with_person {
  padding-left: 5px !important;
  color: grey;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 1350px) {
  .menu {
    width: 60px !important;
    min-width: auto !important;
    float: none !important;
  }
  main {
    width: calc(100vw - 60px) !important;
    float: none !important;
    margin-left: 60px !important;
  }
  .pages>a {
    text-align: center !important;
    padding: 8px 0 !important;
  }
  .centered-form {
    width: 300px !important;
  }
}

main {
  margin-left: 10vw;
  width: 90vw;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#error p, #error h1 {
  all: initial;
}

#error h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}

#error p {
  display: block;
  margin: 1em 0;
}

#error.fade-out {
  animation: fade-out 2s ease-in-out;
  animation-fill-mode: forwards;
}

.rankNumber {
  margin-left: 20px;
}

.leaderboardHandle {
  text-align: center;
}

.leaderboardScore {
  float: right;
}

#leaderboard {
  font-size: 2em;
  margin: auto;
}

#leaderboardTitle {
  text-align: center;
  font-size: 2.5em;
}

.originalFlit {
  border-radius: 10px;
}

.memeButton {
  border: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 25px;
  transform: translateY(-55px) !important;
  float: right;
}

.flitSubmit {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 900 !important;
}

.image-container {
  margin-top: 10px;
}

.image-container img {
  display: block;
  height: auto;
  max-width: 400px;
}

li > p.image-container {
  margin-top: 15px;
}

.profileBadges {
  background-color: #333;
  width: max-content;
  border-radius: 10px;
  margin-left: 20px;
}

#usernameUserProfile {
  display: inline-block;
  width: auto;
}

#userProfileDetails {
  display: flex;
  align-items: center;
}

.lg-view {
  display: inline-block;
}

@media screen and (max-width: 1350px) {
  .lg-view {
    display: none;
  }
}

#send-message-form {
  position: sticky;
  top: 0;
  background-color: var(--background2);
}

#send-message-form > #content {
  border-width: 0;
  width: 100%;
}

.dm-timestamp {
  float: right;
  margin-right: 10px;
}

#message-container {
  width: 100%;
}

#message-container > p:nth-child(span) {
  margin-right: 100px;
}

#users {
  margin-left: 10px;
}

#dm_list>div {
  position: relative;
}

.red-dot {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 14px;
  width: 14px;
  background-color: rgb(218, 62, 68);
  border-radius: 50%;
}