{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
{% if loggedIn %}
  <br>
  <br>
  <div class="row">
    <div class="flit_form">
      <form action="/submit_flit" method="post" id="post_flit">
        <!-- Hidden Inputs -->
	
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="text0" id="text0">
        <input type="hidden" name="text1" id="text1">
        <input type="hidden" name="meme_link" id="meme_link">
        <input type="hidden" name="original_flit_id" id="original_flit_id">

        <div class="row">
          <div class="twelve columns flit-input-box">
            <textarea name="content" autocomplete="off" id="field" role="textbox" aria-multiline="true" aria-labelledby="txtboxMultilineLabel" aria-required="true" class="flit-content-input u-full-width" placeholder="Type your flit here..."></textarea>
            <div id="character-counter">0/300</div>
          </div>
				<button onclick="makeMeme()" form="" class="memeButton" aria-label="meme"><span class="iconify" data-icon="arcticons:meme-generator" data-width="50"></span></button>
        </div>
        <div id="addedElements">

        </div>
        <div class="row">
          <div class="twelve columns">
            <button type="submit" style="color: black;" class="button-primary flitSubmit">Submit Flit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <br>
  <br>
{% endif %}
<div id="flits">
</div>

<a href="#" class="top">Back to Top ↑</a>

<div class="form-popup" id="memePopup">
  <h1>Make-A-Meme</h1>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="text" name="search-tenor" autocomplete="off" id="search-tenor" placeholder="Search Tenor">
  <div id="memeBackgrounds"></div>
  <button type="button" class="btn cancel" onclick="closeMeme()">Cancel</button>
</div>

{% if loggedIn %}
<script>
  String.prototype.trimEllip = function (length) {
    return this.length > length ? this.substring(0, length) : this;
  }

  // Get the textarea element and the form input element
  const textarea = document.getElementById('field');
  const flitInput = document.querySelector('form#post_flit input[name="content"]');
  const characterCounter = document.getElementById('character-counter');

  textarea.addEventListener('input', function() {
    let content = textarea.value;
    // Update the form input value with the formatted content
    textarea.value = content.trimEllip(300);
    characterCounter.innerHTML = `${textarea.value.length}/300`;
  });
</script>
{% endif %}
{% endblock %}
