{% extends "layout.html" %}
{% block title %}Reports{% endblock %}
{% block body %}
  <h1>Reported Flits</h1>
  <table>
    <tr>
      <th>Flit ID</th>
      <th>Reporter Handle</th>
      <th>Reason</th>
    </tr>
    {% for report in reports %}
      <tr>
        <td><a href="{{ url_for('singleflit', flit_id=report.flit_id) }}">{{ report.flit_id }}</a></td>
        <td>{{ report.reporter_handle }}</td>
        <td>{{ report.reason }}</td>
        <td><a href="{{ url_for('delete_flit', flit_id=report.flit_id) }}"><button><span class="iconify" data-icon="material-symbols:delete" data-width="25"></span></button></a></td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
