{% extends "layout.html" %}

{% block title %}Signup{% endblock %}

{% block body %}
  <div class="container">
    <div class="centered">
      <div class="centered-form">
        <h2>Signup for Tweetor</h2>
        <form method="POST" action="{{ url_for('signup') }}">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          <label for="passwordConformation">Password Confirmation:</label>
          <input type="password" id="passwordConformation" name="passwordConformation" required>
          
          <!-- Display the CAPTCHA image -->
          <label for="captchaImage">CAPTCHA:</label>
          <img src="/api/get_captcha" alt="CAPTCHA" id="captchaImage">
          
          <!-- User input for CAPTCHA -->
          <input type="text" id="user_input" name="input" placeholder="Enter CAPTCHA" required>
          <button type="button" onclick="refreshCaptcha();" class="captcha-refresh">Refresh</button>
          
          <input type="submit" value="Signup">
        </form>
      </div>
    </div>
  </div>



  <script>
    function generate() {
  // Clear old input
    document.getElementById("user_input").value = "";

  // Fetch a new CAPTCHA image and update the image source
	fetch("/api/get_captcha")
	    .then(response => response.blob()) // Read the response as a blob
	n.then(blob => {
      // Create a URL for the blob
	    const imageUrl = URL.createObjectURL(blob);
	    document.getElementById("captchaImage").src = imageUrl;
    })
    .catch(error => console.error('Error fetching CAPTCHA:', error));
      }
//    generate();
  </script>
{% endblock %}
