{% extends "layout.html" %}
{% block title %} TOS & Privacy Policy {% endblock %}
{% block body %}
        <h1>Privacy Policy</h1>
        <p>We collect the following types of personal information:</p>
        <ul>
            <li><strong>Data we collect:</strong></li>
            <li>All flits you post, including profane flits and direct messages. These are not encrypted</li>
            <li>Handle </li>
	    <li> All reports you make </li>
            <!-- Extend this list with more data points -->
        </ul>
	<h2> How we handle your information </h2>
	<p> We reserve the right to use, share, modify then share, to train generative intelligence models and more.</p>

	<h2> How we handle changes in terms of service </h2>
	<p> You accept all changes to the TOS at tweetor.org/terms present, past or future. </p>
    </section>

    <section id="terms-of-service">
      <h1>Terms of Service</h1>
      <h3>!! TWEETOR IS NOT RESPONSIBLE FOR ANY CONTENT YOU SEE ON THIS WEBSITE !!</h3>
        <p>Our Terms of Service outline the rules governing the use of our services...</p>
	<h2> Account Termination</h2>
	<p>  Your account may be terminated if the moderators decide</p>
{% endblock %}
